@{
    ViewBag.Title = "Home Page";
}
<div id="dynamicTable"></div>

@Scripts.Render("~/Scripts/dynamicTable.js")
@section scripts{
    <script type="text/javascript">
        
        $(document).ready(function () {
            var divId = "dynamicTable";
            $.get("/Home/GetBooks/",
                function(data){
                    createTable(data, divId)
                });
        })
    </script>

}