@{
    ViewBag.Title = "Home Page";
}
<br/>
Table
<select>
    <option value="GetStudents">Students</option>
    <option value="GetCourses">Courses</option>
</select>
<hr/>
<div id="dynamicTable"></div>

@Scripts.Render("~/Scripts/dynamicTable.js")
@section scripts{
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
    <script type="text/javascript">
        
        $(document).ready(function () {
            var divId = "dynamicTable";

            $.get("/Home/" + $('select').val(),
                function(data){
                    createTable(data, divId)
                });

            $('select').change(function () {
                $.get("/Home/" + $('select').val(),
                function (data) {
                    createTable(data, divId)
                });
            })
        })
    </script>

}